<!-- =========================================================
     FOOTER
========================================================= -->

<footer class="site-footer">

    <div class="footer-main">

        <div class="container">

            <div class="footer-content">

                <!-- Logo -->
                <div class="footer-brand">

                    <a href="index.html" class="footer-logo">

                        <img
                            src="../assests/images/logo.jpg"
                            alt="مجتمع علمی فرهنگی فانوس"
                        />

                    </a>

                </div>


                <!-- Contact -->
                <div class="footer-column">

                    <h3 class="footer-heading">
                        ارتباط با ما
                    </h3>

                    <div class="footer-heading-line"></div>


                    <ul class="footer-contact">

                        <li>

                            <i class="bx bxs-phone"></i>

                            <a href="tel:+93700000000">
                                +93 700 000 000
                            </a>

                        </li>


                        <li>

                            <i class="bx bxs-envelope"></i>

                            <a href="mailto:info@fanos.edu.af">
                                info@fanos.edu.af
                            </a>

                        </li>


                        <li>

                            <i class="bx bxs-map"></i>

                            <span>
                                کابل، افغانستان
                            </span>

                        </li>


                        <li>

                            <i class="bx bxs-time"></i>

                            <span>
                                شنبه تا پنجشنبه، ۸ صبح تا ۴ عصر
                            </span>

                        </li>

                    </ul>

                </div>


                <!-- Social -->
                <div class="footer-column social-column">

                    <h3 class="footer-heading">
                        شبکه های اجتماعی
                    </h3>

                    <div class="footer-heading-line"></div>


                    <div class="social-links">

                        <a
                            href="#"
                            aria-label="Facebook"
                            class="social-link"
                        >
                            <i class="bx bxl-facebook"></i>
                        </a>


                        <a
                            href="#"
                            aria-label="Twitter"
                            class="social-link"
                        >
                            <i class="bx bxl-twitter"></i>
                        </a>


                        <a
                            href="#"
                            aria-label="YouTube"
                            class="social-link"
                        >
                            <i class="bx bxl-youtube"></i>
                        </a>


                        <a
                            href="#"
                            aria-label="Instagram"
                            class="social-link"
                        >
                            <i class="bx bxl-instagram"></i>
                        </a>

                    </div>


                    <h4 class="video-title">
                        ویدیو معرفی
                    </h4>

                </div>

            </div>

        </div>

    </div>


    <!-- Copyright -->

    <div class="footer-bottom">

        <div class="container">

            <div class="copyright">

                <span>
                    © 2026. All Rights Reserved.
                </span>

                <a href="#">
                    Privacy Policy
                </a>

            </div>

        </div>

    </div>

</footer>