<!-- ========== NAVBAR ========== -->

<nav class="navbar navbar-expand-lg custom-navbar">

    <div class="container">

        <a href="index.html" class="navbar-brand">

            <img
                class="rounded-pill"
                src="../assests/images/logo.jpg"
                alt="Starbucks"
            />

        </a>


        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-expanded="false"
        >

            <span class="menu-icon">

                <span></span>

                <span></span>

            </span>

        </button>


        <div
            class="collapse navbar-collapse"
            id="mainNavbar"
        >

            <ul class="navbar-nav gap-3 mx-auto">

                <li class="nav-item">

                    <a
                        href="index.html"
                        class="nav-link"
                    >
                        <i class="bx bxs-home"></i>
                        خانه
                    </a>

                </li>


                <li class="nav-item">

                    <a
                        href="about.html"
                        class="nav-link"
                    >
                        <i class="bx bx-info-circle"></i>
                        درباره ما
                    </a>

                </li>


                <li class="nav-item">

                    <a
                        href="services.html"
                        class="nav-link"
                    >
                        <i class="bx bxs-cog"></i>
                        خدمات
                    </a>

                </li>


                <li class="nav-item">

                    <a
                        href="news.html"
                        class="nav-link"
                    >
                        <i class="bx bxs-news"></i>
                        رویداد ها
                    </a>

                </li>


                <li class="nav-item">

                    <a
                        href="index.html#footer"
                        class="nav-link"
                    >
                        <i class="bx bxs-phone"></i>
                        تماس با ما
                    </a>

                </li>

            </ul>


            <div class="d-flex align-items-center gap-2 me-auto my-1">

                <button
                    type="button"
                    class="btn btn-outline-dark-custom"
                    id="loginBtn"
                    aria-haspopup="dialog"
                    aria-controls="loginModal"
                >
                    ورود
                </button>

                <button class="btn btn-dark-custom">
                    Join now
                </button>

            </div>

        </div>

    </div>

</nav>